body{
    background-color: rgb(17, 239, 202);
}
.boxes div{
    background-color: azure;
    border: 2px solid black;
    height: 500px;
    width: 30%;
    margin: 2%;


}

.boxes{
    display: flex;
    gap: 1%;
}
h1{
    text-align: center;
}